@model IEnumerable<Voyage.Models.Customer>

@{
    ViewBag.Title = "Kunder";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Til hovedside", "Index", "Home")
</p>
<p>
    @Html.ActionLink("Opret ny kunde", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Opdatér", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.ID }) |
                @Html.ActionLink("Slet", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Til hovedside", "Index", "Home")
</p>