@model IEnumerable<Voyage.Models.Booking>

@{
    ViewBag.Title = "Bookinger";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@*<p>
    @Html.ActionLink("Til hovedside", "Index", "Home")
</p>*@
<p class="blue">
    Liste over bookinger
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Show.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Show.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.ActionLink("Opdatér", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.ID }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
@*<p>
    @Html.ActionLink("Til hovedside", "Index", "Home")
</p>*@