 @model IEnumerable<Voyage.Models.Movie>

@{
    ViewBag.Title = "Film";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<p>
    @Html.ActionLink("Til hovedside", "Index", "Home")
</p>*@
<h2>Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PosterPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BigPosterPath)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Embed)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Actor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C3D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Premiere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Highlighted)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PosterPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BigPosterPath)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Embed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Actor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C3D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Premiere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Highlighted)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
