@{
    ViewBag.Title = "Administration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@*<br />
@Html.ActionLink("Brugere", "Index", "Users", new { Area = "Admin" }, null)
<br />
@Html.ActionLink("Kunder", "Index", "Customers", new { Area = "Admin" }, null)
<br />
@Html.ActionLink("Movies", "Index", "Movies", new { Area = "Admin" }, null)
<br />
@Html.ActionLink("Forestillinger", "Index", "Shows", new { Area = "Admin" }, null)*@