@{
    ViewBag.Title = "Administration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="btn-group">
    @Html.ActionLink("Brugere", "Index", "User", new { Area = "Admin" }, new { @class = "btn" })
    @Html.ActionLink("Kunder", "Index", "Customer", new { Area = "Admin" }, new { @class = "btn" })
    @Html.ActionLink("Bookinger", "Index", "Booking", new { Area = "Admin" }, new { @class = "btn"})
    @Html.ActionLink("Movies", "Index", "Movie", new { Area = "Admin" }, new { @class = "btn" })
</div>