@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administration - Voyage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/functions.js"></script>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Voyage", "Index", "Home", new { Area = "Admin"}, null)*@
                <a class="navbar-brand" href="~/Admin/Home">Voyage</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Brugere", "Index", "User", new { Area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Kunder", "Index", "Customer", new { Area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Film", "Index", "Movie", new { Area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Forestillinger", "Index", "Show", new { Area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Bookinger", "Index", "Booking", new { Area = "Admin" }, null)</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
