@model Voyage.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosterPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosterPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BigPosterPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BigPosterPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Premiere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Premiere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Highlighted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Highlighted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
